<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>IKEA LINAK CTRL</title>

    <script src="vendor/tailwindcss.js"></script>
    <script src="vendor/vue.js?v=3.2.37"></script>
    <script src="common.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body class="controller">
    <div id="app">
      <div id="buttons">
        <template v-if="reminder">
          <div class="reminder">
            <div class="reminder-body">
              <img :src="reminderIcon" alt="" />
              <span>{{ reminderLabel }}</span>
            </div>

            <button class="icon-btn" title="Accept" @click="acceptReminder()">
              <img class="check-icon" src="icons/check.svg" alt="Accept" />
            </button>

            <button class="icon-btn" title="Dismiss" @click="dismissReminder()">
              <img src="icons/close.svg" alt="Dismiss" />
            </button>
          </div>
        </template>

        <template v-else-if="connected">
          <div class="current-pos">{{ convert(pos) }}</div>

          <button
            class="icon-btn"
            title="Sit down"
            @click="moveTo(settings.positions[0])"
            :class="{ active: isPos(settings.positions[0]) }"
          >
            <img src="icons/sit-down.svg" alt="Sit down" />
          </button>

          <button
            class="icon-btn"
            title="Stand up"
            @click="moveTo(settings.positions[1])"
            :class="{ active: isPos(settings.positions[1]) }"
          >
            <img src="icons/stand-up.svg" alt="Stand up" />
          </button>

          <button class="icon-btn" title="Stop" @click="stop()">
            <img class="stop-icon" src="icons/stop.svg" alt="Stop" />
          </button>

          <button
            class="icon-btn"
            title="Move down"
            @pointerdown.prevent="startHold('down')"
            @pointerup="endHold"
            @pointerleave="endHold"
            @pointercancel="endHold"
          >
            <img class="arrow-down" src="icons/arrow-up.svg" alt="Move down" />
          </button>

          <button
            class="icon-btn"
            title="Move up"
            @pointerdown.prevent="startHold('up')"
            @pointerup="endHold"
            @pointerleave="endHold"
            @pointercancel="endHold"
          >
            <img src="icons/arrow-up.svg" alt="Move up" />
          </button>

          <button class="icon-btn" title="Settings" @click="showOptions()">
            <img src="icons/settings.svg" alt="Settings" />
          </button>

          <button class="icon-btn" title="Hide" @click="hideMenu()">
            <img src="icons/close.svg" alt="Hide" />
          </button>
        </template>

        <button
          class="connect-prompt"
          v-else
          @click="connect()"
          :disabled="loading"
        >
          <img v-if="loading" src="icons/connection.svg" alt="" />
          <img v-else src="icons/bluethoot.svg" alt="" />
          <span>{{ connectLabel }}</span>
        </button>
      </div>
    </div>

    <link rel="stylesheet/less" type="text/css" href="app.less" />
    <script src="vendor/less.js"></script>
  </body>
</html>
